$font: 'Assistant', sans-serif;

body {
  font-family: $font;
}

@mixin btn-color-dark($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  &:hover {
    background-color: lighten($bg-color, 3);
  }
}

@mixin btn-color-light($bg-color, $text-color, $border-color) {
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  
  &:hover {
    background-color: darken($bg-color, 3);
  }
}

button {
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  
  @include btn-color-light(#fff, #444, #ccc);
}

.task-manager {
  max-width: 400px;
  margin: 50px auto 0px auto;

  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0px;
    border: 1px solid #aaa;
    
    &::placeholder {
      color: #aaa;
    }
  }
  textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    resize: none;
    font-family: $font;
    
    &::placeholder {
      color: #aaa;
    }
  }
}

.task-add-form {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  padding: 30px;
  margin-bottom: 10px;
  
  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0px;
    
    &::placeholder {
      color: #aaa;
    }
  }
  textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 100px;
    margin: 0;
    margin-top: 5px;
    resize: none;
    font-family: $font;
    
    &::placeholder {
      color: #aaa;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
}

.task-list {
  border: 1px solid #aaa;
  padding: 10px;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.task {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;

  &.dragged {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 5px 10px 0px;
  }
  
  .name {
    box-sizing: border-box;
    color: #555;
    display: block;
    border: 1px solid white;
    border-bottom-color: #aaa;
    font-size: 1.2em;
    padding: 0 0;
  }

  input.name {
    border: 1px solid #aaa;
  }
  
  .description {
    box-sizing: border-box;
    padding: 0;
    margin: 10px 0px 0px 0px;
    height: 20px;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid white;
  }

  textarea.description {
    border: 1px solid #aaa;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    
    /*button {
      @include btn-color-dark(#36d, #fff);
    }
    button.remove {
      @include btn-color-dark(#f54, #fff);
    }*/
  }
}