body {
  font-family: "Assistant", sans-serif;
}

button {
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
}

button:hover {
  background-color: #f7f7f7;
}

.task-manager {
  max-width: 400px;
  margin: 50px auto 0px auto;
}

.task-manager input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px 0px;
  border: 1px solid #aaa;
}

.task-manager input::-webkit-input-placeholder {
  color: #aaa;
}

.task-manager input:-ms-input-placeholder {
  color: #aaa;
}

.task-manager input::-ms-input-placeholder {
  color: #aaa;
}

.task-manager input::placeholder {
  color: #aaa;
}

.task-manager textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  resize: none;
  font-family: "Assistant", sans-serif;
}

.task-manager textarea::-webkit-input-placeholder {
  color: #aaa;
}

.task-manager textarea:-ms-input-placeholder {
  color: #aaa;
}

.task-manager textarea::-ms-input-placeholder {
  color: #aaa;
}

.task-manager textarea::placeholder {
  color: #aaa;
}

.task-add-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  padding: 30px;
  margin-bottom: 10px;
}

.task-add-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px 0px;
}

.task-add-form input::-webkit-input-placeholder {
  color: #aaa;
}

.task-add-form input:-ms-input-placeholder {
  color: #aaa;
}

.task-add-form input::-ms-input-placeholder {
  color: #aaa;
}

.task-add-form input::placeholder {
  color: #aaa;
}

.task-add-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 100px;
  margin: 0;
  margin-top: 5px;
  resize: none;
  font-family: "Assistant", sans-serif;
}

.task-add-form textarea::-webkit-input-placeholder {
  color: #aaa;
}

.task-add-form textarea:-ms-input-placeholder {
  color: #aaa;
}

.task-add-form textarea::-ms-input-placeholder {
  color: #aaa;
}

.task-add-form textarea::placeholder {
  color: #aaa;
}

.task-add-form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5px;
}

.task-list {
  border: 1px solid #aaa;
  padding: 10px;
}

.task-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
}

.task.dragged {
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 5px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 2px 5px 10px 0px;
}

.task .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  display: block;
  border: 1px solid white;
  border-bottom-color: #aaa;
  font-size: 1.2em;
  padding: 0 0;
}

.task input.name {
  border: 1px solid #aaa;
}

.task .description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 10px 0px 0px 0px;
  height: 20px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid white;
}

.task textarea.description {
  border: 1px solid #aaa;
}

.task .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
  /*button {
      @include btn-color-dark(#36d, #fff);
    }
    button.remove {
      @include btn-color-dark(#f54, #fff);
    }*/
}
/*# sourceMappingURL=style.css.map */